		.container{
			width:300px;
			margin:100px 10px 100px 100px;
			box-sizing:border-box;
			padding:20px 20px 0 20px;
			cursor:pointer;
		}
		.container:hover{
			box-shadow:0 0 10px #ccc;
		}
		.container:hover .quick{
			display:block;
			opacity:1;
			visibility:visible;
		}
		img{
			width:100%;
			height:auto;
		}
		h3{
			font-size:16px;
			margin:10px 0;
		}
		.details{
			display:flex;
			flex-wrap:wrap;
			text-align:center;
			justify-content:space-between;
		}
		.row{
			display:flex;
			flex-wrap:wrap;
			align-items:center;
		}
		p{
			margin:5px 0;
			color:#686b78;
			padding:2px 0;
			font-size:14px;
		}
		.col-lg-1{
			width:10%;
		}
		.col-lg-2{
			width:20%;
		}
		.col-lg-4{
			width:40%;
		}
		.review{
			background-color:#48c479;
			color:white;
			
		}
		.offer{
			border-top: 1px solid #e9e9eb;
			padding:8px 0;
		}
		.offer p{
			color:#8a584b;
			font-size:15px;
			font-weight:600;
		}
		.icon{
			font-size:20px;
		}
		.quick{
			border-top: 1px solid #e9e9eb;
			padding:8px 0;
			text-align:center;
			display:none;
			opacity:0;
			visibility:hidden;
		}
		#inp{
			width:100px;
			height:20px;
			text-align:center;
		}
		button{
			background-color:#fff;
			border:0;
			cursor:pointer;
		}
		.incre{
			text-align:center;
			margin:10px;
		}
		a{	
			font-size:18px;
			text-decoration:none;
			color:#5d8ed5;
		}
		a:hover{
			color:#93959f;
		}
		#details p{
			color:#8a584b;
			font-size:20px;
		} 